Council.json
{
  "name": "Council",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user_prompt\": \"Explain how forex leverage works with an example\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        32
      ],
      "id": "3da682f6-208f-4167-9a49-1a074d009c04",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "You are an expert assistant.\n\nRules:\n- Reason independently\n- Do not assume other agents exist\n- Do not reference other answers\n\nTask:\nAnswer the user question accurately and clearly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        -304
      ],
      "id": "d7004b15-b6de-4a9f-a489-c5320a90757a",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "You are an expert assistant.\n\nRules:\n- Reason independently\n- Do not assume other agents exist\n- Do not reference other answers\n\nTask:\nAnswer the user question accurately and clearly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        480
      ],
      "id": "54b76a49-9741-44e6-99a7-a4d19d5713da",
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "You are an expert assistant.\n\nRules:\n- Reason independently\n- Do not assume other agents exist\n- Do not reference other answers\n\nTask:\nAnswer the user question accurately and clearly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        64
      ],
      "id": "67b07b3d-552b-4467-a51d-c2e93a6a76cb",
      "name": "AI Agent8"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        48
      ],
      "id": "dbd2dead-c421-4441-9867-cb9bada3a256",
      "name": "Merge3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        48
      ],
      "id": "7e252731-0f19-40e6-bca4-0f16e6bcecd6",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      question: $items(\"Edit Fields1\")[0].json.user_prompt,\n      answer_A: items[0].json.output,\n      answer_B: items[1].json.output,\n      answer_C: items[2].json.output\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        64
      ],
      "id": "71438990-fda0-4ef1-a7bf-475eb5d0a0b9",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"question\": {{$json.question}},\n  \"answer_A\": {{$json.answer_A}},\n  \"answer_B\": {{$json.answer_B}},\n  \"answer_C\": {{$json.answer_C}}\n}\n",
        "options": {
          "systemMessage": "You are an independent safety evaluation judge.\n\nYour task:\n- Evaluate multiple answers (A, B, C) to the same question.\n- Identify factual inaccuracies, misleading claims, missing risk disclosures, or unsafe financial guidance.\n\nRules:\n- Be strict and literal.\n- If an answer could realistically mislead a beginner, mark it unsafe.\n- Focus on correctness, financial risk clarity, leverage mechanics, and regulatory implications.\n- Do NOT assume risk disclaimers unless they are explicitly stated.\n\nIMPORTANT NOTE REQUIREMENTS:\n- Each \"notes\" entry MUST reference a specific issue in the answer.\n- Notes must explain *why* the issue is unsafe or misleading.\n- Vague notes like \"insufficient explanation\" are NOT allowed.\n- If verdict is \"unsafe\", notes array MUST contain at least one concrete reason.\n- If verdict is \"safe\", notes array MUST contain a reason\n\nYou must NOT decide final safety.\n\nOutput format MUST be valid JSON and follow this schema exactly:\n\n{\n  \"question\":\n  \"answers\": {\n    \"A\": { \"verdict\": \"safe\" | \"unsafe\", \"notes\": [string] },\n    \"B\": { \"verdict\": \"safe\" | \"unsafe\", \"notes\": [string] },\n    \"C\": { \"verdict\": \"safe\" | \"unsafe\", \"notes\": [string] }\n  }\n}\n\nDo not add extra keys.\nDo not explain outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1344,
        -160
      ],
      "id": "1342a865-d349-4354-a946-8a21fb89ad55",
      "name": "AI Agent9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"question\": {{$json.question}},\n  \"answer_A\": {{$json.answer_A}},\n  \"answer_B\": {{$json.answer_B}},\n  \"answer_C\": {{$json.answer_C}}\n}\n",
        "options": {
          "systemMessage": "You are an independent safety evaluation judge with a contextual perspective.\n\nYour task:\n- Review answers (A, B, C) to a financial trading question.\n- Identify potential harm from oversimplification, missing nuance, or beginner misunderstanding.\n- Consider how a non-expert reader might interpret the advice.\n\nRules:\n- You may allow minor imperfections if overall intent is responsible.\n- Flag content as unsafe if it could encourage reckless trading behavior.\n- Do NOT decide final safety. Only provide your evaluation.\n\nOutput format MUST be valid JSON and follow this schema exactly:\n\n{\n  \"question\":\n  \"answers\": {\n    \"A\": { \"verdict\": \"safe\" | \"unsafe\", \"notes\": [string] },\n    \"B\": { \"verdict\": \"safe\" | \"unsafe\", \"notes\": [string] },\n    \"C\": { \"verdict\": \"safe\" | \"unsafe\", \"notes\": [string] }\n  }\n}\n\nDo not add extra keys.\nDo not explain outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1360,
        304
      ],
      "id": "11a05a40-e36d-46b9-aadd-e7bf5360c465",
      "name": "AI Agent10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2048,
        64
      ],
      "id": "2a88d8fc-5a4b-465d-b397-938b18f15749",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// Remove markdown fences if present\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Parse JSON\nconst parsed = JSON.parse(cleaned);\n\n// Wrap with judge name\nreturn [\n  {\n    json: {\n      judge_1: parsed\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -160
      ],
      "id": "1eaa6c38-a0f6-45ea-9f86-6a1582667a30",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst parsed = JSON.parse(cleaned);\n\nreturn [\n  {\n    json: {\n      judge_2: parsed\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        304
      ],
      "id": "b24ec6c0-6f6c-4ca9-9640-52476612c495",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      question: $node[\"Code in JavaScript4\"].json.question,\n      answers: {\n        A: $node[\"Code in JavaScript4\"].json.answer_A,\n        B: $node[\"Code in JavaScript4\"].json.answer_B,\n        C: $node[\"Code in JavaScript4\"].json.answer_C,\n      },\n      judge_1: $json.judge_1,\n      judge_2: $json.judge_2,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        64
      ],
      "id": "33425418-c822-46b2-9d07-4768960d56bf",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"question\": {{ $json.question }},\n  \"answers\": {\n    \"A\": {{ $json.answers.A }},\n    \"B\": {{ $json.answers.B }},\n    \"C\": {{ $json.answers.C }}\n  },\n  \"judges_feedback\": {\n    \"judge_1\": {{ $json.judge_1 }},\n    \"judge_2\": {{ $json.judge_2 }}\n  }\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the final synthesizer and safety gate in an LLM Council system.\n\nYou are given:\n- A user question\n- Multiple candidate answers (A, B, C)\n- Judge feedback containing verdicts and notes\n\nYour task is to produce ONE final response and a safety decision.\n\n────────────────────────\nFINAL SYNTHESIS\n────────────────────────\n1. Combine the strongest, most accurate parts of the candidate answers.\n2. Remove or avoid content that judges flagged as unsafe, misleading, or weak.\n3. Resolve disagreements conservatively, prioritizing correctness and user safety.\n4. Produce a single clean, user-facing final answer.\n5. Do NOT mention judges, votes, rubrics, or internal evaluation in the final answer.\n\n────────────────────────\nSAFETY CHECK\n────────────────────────\n6. Decide whether the final answer is safe to publish.\n7. If judges mention risks, losses, safety concerns, or missing explanations:\n   - Summarize them as short risk labels.\n8. If no meaningful risks are mentioned by judges, return an empty risks list.\n\n────────────────────────\nCITATIONS (LIGHTWEIGHT)\n────────────────────────\n9. If you list risks:\n   - Add citations by copying any relevant judge note references from the input\n   - Citations do NOT need strict 1:1 mapping\n   - Do NOT invent citations\n10. If no risks are listed:\n   - Return an empty citations array\n\n────────────────────────\nOUTPUT RULES\n────────────────────────\n- Output ONLY valid JSON\n- Do NOT add text before or after the JSON\n- Do NOT use markdown or code blocks\n\n────────────────────────\nOUTPUT FORMAT\n────────────────────────\n{\n  \"final_answer\": \"<clean synthesized answer>\",\n  \"decision\": \"approve | review | reject\",\n  \"confidence\": <number between 0 and 1>,\n  \"risks\": [ \"<short risk label>\", \"...\"],\n  \"citations\": [\n    {\n      \"risk\": \"<risk label>\",\n      \"source\": \"<judge reference copied from input>\"\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2624,
        64
      ],
      "id": "bd42048a-acfc-441a-b3e4-44f496c77a8e",
      "name": "AI Agent11"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"final_answer\", \"decision\", \"confidence\", \"risks\", \"citations\"],\n  \"properties\": {\n    \"final_answer\": {\n      \"type\": \"string\"\n    },\n    \"decision\": {\n      \"type\": \"string\",\n      \"enum\": [\"approve\", \"review\", \"reject\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n    \"risks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\"risk_id\", \"source\"],\n        \"properties\": {\n          \"risk_id\": { \"type\": \"string\" },\n          \"source\": { \"type\": \"string\" }\n        },\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2768,
        304
      ],
      "id": "bae4e249-987c-449d-bbc7-049c016fc236",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2624,
        304
      ],
      "id": "3ae0cd64-4cd9-4a11-b96d-05d8dcb85648",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C4JzWQc78ZBbAKWn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        528
      ],
      "id": "35073292-5149-4d3f-8b64-8722718beb20",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "C4JzWQc78ZBbAKWn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1344,
        80
      ],
      "id": "372701ce-6fae-48c4-84f6-b70311676c42",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "C4JzWQc78ZBbAKWn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        -96
      ],
      "id": "e35a0b2e-552f-4479-9674-010db4dcc5e2",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "C4JzWQc78ZBbAKWn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        272
      ],
      "id": "3d16b46c-3be4-44de-95c7-06232aeef3af",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "C4JzWQc78ZBbAKWn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        704
      ],
      "id": "c82081a0-9278-4598-b94b-4f225d565c45",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "C4JzWQc78ZBbAKWn",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent11": [
      {
        "json": {
          "output": {
            "final_answer": "Forex leverage is a trading feature that allows investors to control large positions in the foreign exchange market with a relatively small amount of capital. It works by borrowing funds from a broker to increase the potential return on an investment, but it also magnifies risks. For example, with 100:1 leverage, a trader can control $100,000 worth of currency with only $1,000 of their own capital. If the currency pair moves in the trader's favor, they can earn a profit, but if it moves against them, they can lose more than their initial deposit. Proper risk management strategies, such as stop-loss orders, are essential to mitigate potential losses.",
            "decision": "approve",
            "confidence": 0.9,
            "risks": [
              "High leverage can lead to significant losses",
              "Insufficient risk management can result in large losses"
            ],
            "citations": [
              {
                "risk_id": "High leverage can lead to significant losses",
                "source": "Judge 1 feedback"
              },
              {
                "risk_id": "Insufficient risk management can result in large losses",
                "source": "Judge 2 feedback"
              }
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "AI Agent9",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent9": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent10": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "AI Agent11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d178a76-1593-4d5b-9c68-a6ebd29eff80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40fbd1399d751a398161ed2b63073b0b75dfdcfcd3017e2c23b5ad6206528928"
  },
  "id": "Bwl0iBb8g31hOLhy",
  "tags": []
}